services:
    nginx-phpfpm:
        container_name: nginx-phpfpm
        build: .docker
        ports:
            - 8080:80
        volumes:
            - ./backend/:/var/www/backend
        environment:
            RUN_MIGRATE: true
        networks:
            - docker_network
        depends_on:
            - database
            - redis
    nodejs:
        image: "node:24.6.0-bookworm"
        container_name: nodejs-bookworm
        user: "node"
        working_dir: /home/node/app
        environment:
            - NODE_ENV=development
        ports:
            - 5173:5173
        volumes:
            - ./frontend/:/home/node/app
        tty: true
        command: "npm run dev"
        # package.json "scripts": {"dev": "react-router dev --host"}
        networks:
            - docker_network
    database:
        image: mariadb:12.0.2-noble
        container_name: mariadb-noble
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root_pass
            MYSQL_DATABASE: laravel
            MYSQL_USER: admin
            MYSQL_PASSWORD: admin
        networks:
            - docker_network
    phpmyadmin:
        image: phpmyadmin:5.2.3-apache
        container_name: phpmyadmin-apache
        restart: always
        links:
            - database
        ports:
            - 8086:80
        environment:
            PMA_HOST: database
            PMA_USER: admin
            PMA_PASSWORD: admin
        networks:
            - docker_network
    redis:
        image: 'redis:alpine'
        container_name: redis-alpine
        networks:
            - docker_network
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    minio:
        image: 'minio/minio:RELEASE.2025-09-07T16-13-09Z'
        container_name: minio-bookworm
        ports:
            - 9000:9000
            - 8900:8900
        environment:
            MINIO_ROOT_USER: admin
            MINIO_ROOT_PASSWORD: password
        volumes:
            - ./scripts/minio-setup.sh:/minio-setup.sh
        networks:
            - docker_network
        command: 'minio server /data --console-address ":8900"'
        healthcheck:
            test:
                - CMD
                - mc
                - ready
                - local
            retries: 3
            timeout: 5s

networks:
    docker_network:
        driver: bridge

# ps aux
# supervisorctl status

# /etc/nginx/nginx.conf
# /usr/local/etc/php-fpm.d/www.conf

# docker logs nginx-phpfpm
# docker exec -it --user www-data nginx-phpfpm bash

# docker exec minio-bookworm bash /minio-setup.sh